@using Northwind.Models
@model ProductPageViewModel

@{
    ViewData["Title"] = "Reviews";
}

<!--Toast For Review Placement-->
    <div id="cart_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong id="toast_header">Header</strong>
        </div>
        <div class="toast-body" id="toast_body">
            Body
        </div>
    </div>
<!--Div With User Enmail-->
    <div id="User" style="display:none;" data-email="@User.Identity.Name" data-customer="@User.IsInRole("Customer")"></div>

<h1>Product Reviews</h1>

@if (User?.Identity?.IsAuthenticated ?? false)  //User Logged In
{
    if (ViewBag.CanComment) //User Logged In and has Purchased Product
    {
        <div class="container">
            <form>
                <input hidden type="number" value="1" @{/*Change Value to Product ID*/} name="forProduct" id="forProduct" />
                <div class="form-group">
                    <label for="title">Rating Title</label>
                    <input type="text" class="form-control" id="title" name="title"/>
                </div>
                <div class="form-group">
                    <label for="body">Comment:</label>
                    <textarea class="form-control-plaintext border" name="body" id="body"></textarea>
                </div>
                <input type="text" hidden id="addedBy" value="@User?.Identity?.Name?"/>
                <div id="star-area">
                    <input hidden id="rating-value" data-value="0" autocomplete="off" />
                    <i class="far fa-star rating-star fa-2x" id="rating-star-1" data-value="1"></i><i class="far fa-star rating-star fa-2x" id="rating-star-2" data-value="2"></i><i class="far fa-star rating-star fa-2x" id="rating-star-3" data-value="3"></i><i class="far fa-star rating-star fa-2x" id="rating-star-4" data-value="4"></i><i class="far fa-star rating-star fa-2x" id="rating-star-5" data-value="5"></i>
                </div>
                <button type="button" class="btn btn-dark" id="addReview">Submit</button>
            </form>
        </div>
  
    }
    else  //User Logged In But Has Not Purchased Item
    {
        <p>Purchase This Item to Leave A Review</p>
    }
}
else  //User Not Logged In
{
    <p>Login to Leave A Review</p>
}

<div id="reviews">

</div>


@section formScript {
    <script type="text/javascript" src="/js/commentform.js"></script>
}

